################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CRM.Core/bin/Debug/netcoreapp2.2
/CRM.Core/obj/Debug/netcoreapp2.2
/CRM.Core/obj/Release/netcoreapp2.2
/CRM.Data/bin/Debug/netcoreapp2.2
/CRM.Data/obj/Debug/netcoreapp2.2
/CRM.Data/obj/Release/netcoreapp2.2
/CRM.Services/bin/Debug/netcoreapp2.2
/CRM.Services/obj/Debug/netcoreapp2.2
/CRM.Services/obj/Release/netcoreapp2.2
/MobileAheresisAdmin/bin/Debug/netcoreapp2.2
/MobileAheresisAdmin/obj/Debug/netcoreapp2.2/Razor
/MobileAheresisAdmin/obj/Debug/netcoreapp2.2
/MobileAheresisAdmin/obj/Release/netcoreapp2.2
/MobileAheresisAPI/bin/Debug/netcoreapp2.2
/MobileAheresisAPI/obj/Debug/netcoreapp2.2
/MobileAheresisAPI/obj/Release/netcoreapp2.2
/CRM.Core/bin/Release/netcoreapp2.2
/CRM.Data/bin/Release/netcoreapp2.2
/CRM.Services/bin/Release/netcoreapp2.2
/MobileAheresisAdmin/bin/Release/netcoreapp2.2
/MobileAheresisAdmin/obj/publish/win-x86
/MobileAheresisAdmin/Properties/PublishProfiles
/MobileAheresisAdmin/Views/Home
/MobileAheresisAdmin/Views/Shared
/MobileAheresisAPI/bin/Release/netcoreapp2.2

/CRM.Core/obj

