
@{
    ViewData["Title"] = "AccessDenied";
}

@{Layout = null; }
@* 26/09/19 aakansha *@
@{if (TempData["title"] != null)
    {


        <div class="toast"
             data-title=@TempData["title"].ToString()
             data-message='@TempData["message"].ToString()'
             data-type=@TempData["type"]>
        </div>


    }

    TempData["title"] = null;
    TempData["message"] = null;
    TempData["type"] = null;
}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/assets/img/basic/favicon.png" type="image/x-icon">
    <title>Mobile Apheresis</title>
    <!-- CSS -->
    <link rel="stylesheet" href="~/assets/css/app.css">
    <link href="~/assets/InputPicker/jquery.inputpicker.css" rel="stylesheet">

    <style>

        .loader {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #F5F8FA;
            z-index: 9998;
            text-align: center;
        }

        .plane-container {
            position: absolute;
            top: 50%;
            left: 50%;
        }
    </style>
</head>
<body class="light">
    <div id="primary" class="blue4 p-t-b-100 height-full responsive-phone">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="~/assets/img/basic/stones.png" alt="/">
                </div>
                <div class="col-lg-6">
                    <div class="text-white text-center p-t-100">
                        <p class="glow s-256 bolder p-t-b-100">404</p>
                        <p>Access Denied. You don't have permission to acccess this page.</p>
                        <div class="p-t-b-20">
                            <a href="~/Home/Index" class="btn btn-primary btn-lg">
                                <i class="icon icon-arrow_back"></i> Go Back

                                To Home
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



