@model MobileAheresisAdmin.Models.Treatments.DiagnosisModel
@{
    ViewData["Title"] = "DaignosisCreate";
}

@{if (TempData["title"] != null)
    {


        <div class="toast"
             data-title=@TempData["title"].ToString()
             data-message='@TempData["message"].ToString()'
             data-type=@TempData["type"]>
        </div>


    }

    TempData["title"] = null;
    TempData["message"] = null;
    TempData["type"] = null;
}
<div class="row">

    

</div>
<form id="formid" asp-action="DaignosisCreate" method="post" >

    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
    {
        // Bootstrap 2 = "alert-error", Bootstrap 3 and 4 = "alert-danger"
        <div asp-validation-summary="All" class="alert alert-danger alert-error">
            <a class="close" data-dismiss="alert">&times;</a>
        </div>
    }


<div class="container-fluid ">
    <div class="col-md-12">
        <div class="row">

            <div class="col-md-6">
                <ol class="breadcrumb mt-2">
                    <li class="breadcrumb-item">
                        <a href="~/Home/Index">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active"><a href="~/Treatment/DaignosisIndex">Daignosis List</a></li>
                    <li class="breadcrumb-item active">Add New Daignosis</li>

                </ol>
            </div>
            <div class="col-md-6 text-right mt-2">



                <button type="submit" name="save" class="btn btn-primary btn-sm ">
                    <i class="icon-save mr-2"></i>
                    Save
                </button>

                @*<button type="submit" name="save-continue" class="btn btn-primary btn-sm ml-2 ">
                    <i class="icon-save mr-2"></i>
                    Save And Countinue
                </button>*@


            </div>
        </div>
    </div>
   
    
    <div class="row mt-1">
        <div class="col-md-12">

            <div class="card bg-white mb-3 font-weight-bold">

                <div class="card-body">
                    <div class="card-title"></div>

                    <!--Customer Details -->


                    <div class="row">
                        <div class="col-md-2 text-right">
                            <label class="text-right text-darkenGray">Diagnosis Name</label>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <input asp-for="DiagnosisName" class="form-control s-12" type="text">
                                
                            </div>
                        </div>
                        <div class="col-md-1 text-right">
                            <label class="text-right text-darkenGray">Description</label>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <textarea asp-for="Description" class="form-control s-12" type="text"></textarea>
                                
                            </div>
                        </div>

                    </div>

                    <div class="row mt-1">
                        <div class="col-md-2 text-right">

                        </div>
                        <div class="col-md-4 ">
                            <div class="custom-control custom-checkbox mb-3 ml-1">
                                <input type="checkbox" asp-for="IsActive" class="custom-control-input">
                                <label class="custom-control-label text-darkenGray" asp-for="IsActive">Active</label>

                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

</form>
<script src="~/assets/CustomJs/CreateRFQ.js"></script>
<script src="~/assets/lib/jquery-1.10.2.js"></script>
<script type="text/javascript">


    //onload start

    $(".alert").fadeOut(5000);//fade out error messages
    //Fill state details by Country Id
    function GetStateByCountryId(stateId) {
        $.post("/Customer/GetStateByCountryId",
            {
                Id: $("#BillingAddress_CountryId").val(),
                SelectedId: $("#BillingAddress_StateProvinceId").val()
            },
            function (data, status) {
                //clear previous filled states
                $("#BillingAddress_StateProvinceId").html("");

                //append the states from selected country id
                $.each(data, function (i, item) {
                    $("#BillingAddress_StateProvinceId").append(
                        $('<option></option>').val(item.value).html(item.text));
                });

                $("#BillingAddress_StateProvinceId").val(stateId).trigger('change');
            });
    }
</script>






